
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table>
          <tr>
            <th>Id</th>
            <th style="white-space:nowrap">Update Status To</th>
            <th style="white-space:nowrap">Current Status</th>
            <th style="white-space:nowrap"> Title</th>
          </tr>
        {% for taskList in items['taskList'] %}
          {% for card in taskList['cards'] %}
            <tr>
              <td>{{ card['id'] }}</td>
              {% if card['status'] == "Backlog" %}
                <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ card['id'] }}> ToDo</button></form></td>
              {% elif card['status'] == "To Do" %}
                <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ card['id'] }}> Doing</button></form></td>
              {% elif card['status'] == "Doing" %}
              <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ card['id'] }}> Code Review</button></form></td>
              {% elif card['status'] == "Code Review" %}
              <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ card['id'] }}> Testing</button></form></td>
              {% elif card['status'] == "Testing" %}
              <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ card['id'] }}> Done</button></form></td>
              {% elif card['status'] == "Done" %}
              <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ card['id'] }}> ToDo</button></form></td>

              {% endif %}
              <td>{{ card['status'] }}</td>
              <td>{{ card['name'] }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
      </ul>
    </div>
  </div>
  <form action='/createNewToDoItems' method="POST">
    <label>Title:
      <input name ="Title" autocomplete="name" required>
    </label>
    <button> Add</button>
  </form>
{% endblock %}

