
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table>
          <tr>
            <th>Id</th>
            <th style="white-space:nowrap"> Title</th>
            <th style="white-space:nowrap">Current Status</th>            
            <th style="white-space:nowrap">Update Status To</th>
          </tr>
        {% for task in items %}
          <tr>
            <td>{{ task.task_id }}</td>
            <td>{{ task.task_title }}</td>
            <td>{{ task.task_status }}</td>
            <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="cardId" value = {{ task.task_id }}> Update Status</button></form></td>
          </tr>
        {% endfor %}
      </table>
      </ul>
    </div>
  </div>
  <form action='/createNewToDoItems' method="POST">
    <label>Title:
      <input name ="Title" autocomplete="name" required>
    </label>
    <button> Add</button>
  </form>
{% endblock %}

