
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group mb-4">
        <h2>To-Do Tasks</h2>
        <!-- List the todo items here -->
        <table>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Title</th>
          </tr>
        {% for item in view_model.todo %}
          <tr>
            <td>{{ item['id'] }}</td>
            <td>{{ item['status'] }}</td>
            <td>{{ item['title'] }}</td>
            <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="taskId" value = {{ item['id'] }}> Update Status</button></form></td>
          </tr>
        {% endfor %}
      </table>
      <h2>Doing Tasks</h2>
      <!-- List the doing items here -->
      <table>
        <tr>
          <th>Id</th>
          <th>Status</th>
          <th>Title</th>
        </tr>
        {% for item in view_model.doing %}
          <tr>
            <td>{{ item['id'] }}</td>
            <td>{{ item['status'] }}</td>
            <td>{{ item['title'] }}</td>
            <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="taskId" value = {{ item['id'] }}> Update Status</button></form></td>
          </tr>
        {% endfor %}
      </table>
      <h2>Done Tasks</h2>
      <!-- List the Done items here -->
      <table>
        <tr>
          <th>Id</th>
          <th>Status</th>
          <th>Title</th>
        </tr>
      {% for item in view_model.show_all_done %}
        <tr>
          <td>{{ item['id'] }}</td>
          <td>{{ item['status'] }}</td>
          <td>{{ item['title'] }}</td>
          <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="taskId" value = {{ item['id'] }}> Update Status</button></form></td>
        </tr>
      {% endfor %}
    </table>
      <details>
        <summary>Other items</summary>
        <table>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Title</th>
          </tr>
          {% for item in view_model.older_done_items %}
          <tr>
            <td>{{ item['id']}}</td>
            <td>{{ item['status']}}</td>
            <td>{{item['title']}}</td>
            <td><form><button formaction='/complete_item' formmethod = "POST" type = "submit" name ="taskId" value = {{ item['id'] }}> Update Status</button></form></td>
          </tr>
          {% endfor %}
        </table>
      </details>
      </ul>
    </div>
  </div>
  <form action='/add_item' method="POST">
    <label>Title:
      <input name ="Title" autocomplete="name" required>
    </label>
    <button> Add</button>
  </form>
{% endblock %}

